.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
}

.box
{
  width: 50%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.profile-pic
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* box-shadow: 5px 5px 10px royalblue; */
  overflow: hidden;
  animation:myAnimation 3s infinite;
}

@keyframes myAnimation {
  0%{box-shadow: 5px 5px 10px royalblue;}
  33%{box-shadow: 5px 5px 10px rgb(229, 12, 12);}
  66%{box-shadow: 5px 5px 10px rgb(12, 231, 9);}
  100%{box-shadow: 5px 5px 10px royalblue;}
}

textarea
{
  width: 80%;
  height: 300px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px white;
  background-color: transparent;
  color: white;
  padding: 20px;
  font-size: 20px;
}

textarea::-webkit-scrollbar
{
  display: none;
}

button
{
  width: 80%;
  border: none;
  outline: none;
  background-color: royalblue;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover
{
  box-shadow: 5px 5px 10px white;
}

.pic
{
  width: 200px;
  height: 200px;
  
}

.label
{
  color: rgb(109, 226, 250);
  font-size: 20px;
}

